.bg-color{
	background-color:#198754 !important;
}
.color{
	color:#198754 !important;
}
.bg-color2{
	background-color:#006400 !important;
}
.nav_hover:hover{
	color:#198754 !important;
	border-bottom:1px solid #198754 !important;
	transition:0s;
}
.bg-color3{
	background-color:#fee569 !important;
}
.rounded-35 {
    border-radius: 35px!important;
}
.bg-image{
	background:url(../image/bg-banner.jpg) no-repeat;
	background-size:cover;
	background-blend-mode:multiply;
	background-color:rgba(0,0,0,0.8);
}
@media(max-width:1400px){
	#img1>img{
		max-width:90% !important;
		margin:0 auto !important;
	}
}
@media(max-width:450px){
	#AboutUs{
		display:block !important;
	}
}
.card_border{
	border-top:5px solid #198754 !important;
	border-bottom:5px solid #198754 !important;
	border-top-left-radius:35px !important;
	border-bottom-right-radius:35px !important;
}
.text-justify{
	text-align:justify;
}

